.panelButton {
    @include AnchoAltoFondo ( 26vw , 62vh , transparent);
    @include Grilla-DisColRowGap ( grid , 1fr 1fr 1fr 1fr , 1fr 1fr 1fr 1fr 1fr , 1vh);
    border-radius: 20px;
    margin: auto;
    margin-top: 20px;
}